{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>{{ user_profile.user.username }}'s Profile</h2>
    <img src="{{ user_profile.profileimg.url }}" alt="{{ user_profile.user.username }}" class="img-thumbnail">
    <p>{{ user_profile.bio }}</p>
    <p>{{ user_profile.location }}</p>
    <h3>Posts</h3>
    {% for post in user_posts %}
    <div class="card mb-3">
        <div class="card-body">
            <p>{{ post.caption }}</p>
            <img src="{{ post.image.url }}" class="img-fluid">
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
